* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
}

header {
  grid-column: 1 / 4;
  background: #333333;
}

h1 {
  color: #ffffff;
  background-color: #333333;
  padding: 1rem;
  padding-bottom: 4rem;
  text-align: left;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
}

nav {
  background: #000000;
}

.navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.2rem;
  font-family: Arial, Helvetica, sans-serif;  
}

.navigation li {
  flex: 1 1 auto;
  /* What is the difference between auto and 100% flex-basis? - turn on link borders to view */
}

.navigation a {
  display: block;
  color: #ffffff;
  padding: 0.75rem;
  text-decoration: none;
  text-align: center;
}

.navigation a:hover {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: yellow;
}

.left-sidebar {
  background: #cccccc;
  grid-column: 1 / 2;
}

main {
  background: #cccccc;
  grid-column: 2 / 3;
}

.right-sidebar {
  background: #ffffff;
  grid-column: 3 / 4;
}

footer {
  background: #333333;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
  color: #fff;
}

.left-sidebar,
.right-sidebar {
    padding: 1rem;
}

.left-sidebar {
  background: #cccccc;
  grid-column: 1 / 2;
}

main {
  background: #cccccc;
  grid-column: 2 / 3;
}

.right-sidebar {
  background: #ffffff;
  grid-column: 3 / 4;
}

footer {
  background: #333333;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}

.left-sidebar,
.right-sidebar {
    padding: 1rem;
}