@media (min-width: 768px) {
    .temples-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 0 2rem;
    }

    figure img {
        max-width: 100%;
    }

    nav ul {
        justify-content: center;
        gap: 2rem;
    }

    /* Always show nav on larger screens */
    #nav-menu {
        display: block !important;
    }

    #menu-toggle {
        display: none;
    }
}

@media (max-width: 767px) {
    #menu-toggle {
        display: block;
    }
}