* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f9f9f9;
    color: #333;
    padding: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 2rem;
    background-color: #6c6501;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(206, 184, 22, 0.1);
    font-family: 'Georgia', serif; 
}

header h1 {
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    margin-left: 1rem;
}   

#menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    font-size: larger;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #afa11e;
    text-decoration: underline;

}

main h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: 'Georgia', serif;
    color: #746512;
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Figures stack vertically on mobile */
main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

figure {
    text-align: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(202, 195, 131, 0.1);
    transition: box-shadow 0.3s ease;
    margin: 0 auto;
    width: 100%;
}

figure img {
    width: 100%;
    height: 400px;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

figcaption {
    margin-top: 0.5rem;
    font-weight: bold;
    color: #746512;
    font-family: 'Georgia', serif;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #555;
}

figure {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

figure:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

figure:hover figcaption {
    color: #0077cc;
}